.brand_listing 
{          
	background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    left: 32.8%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding-left: 11px;
    position: absolute;
    width: 35.8%;
    z-index: 168;	  
}



.suplier_list 
{          
	background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    left: 32.8%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding-left: 11px;
    position: absolute;
    width: 35.5%;
    z-index: 168; 
}

.brand_listing_multiple 
{          
	background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    left: 31.5%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding-left: 11px;
    position: absolute;
    width: 15.4%;
    z-index: 168;
}

.company_listing_multiple
{
	background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    left: 63.6%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding-left: 11px;
    position: absolute;
    width: 16.7%;
    z-index: 168;
}

.country_listing_multiple
{
	background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    left: 63.6%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding-left: 11px;
    position: absolute;
    width: 16.7%;
    z-index: 168;
	
}

.state_listing_multiple
{
	background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    left: 32.8%;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding-left: 11px;
    position: absolute;
    width: 16.8%;
    z-index: 168;  	  
}
 